<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608397502337-1g6325qum25863lg2h4sa4k8bosfapmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608397502337-1g6325qum25863lg2h4sa4k8bosfapmr</string>
	<key>API_KEY</key>
	<string>AIzaSyAFxt8bcmxvKwTb-a5qPwCgFQYArBjHNIw</string>
	<key>GCM_SENDER_ID</key>
	<string>608397502337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eshwanted.NIBM-Connect</string>
	<key>PROJECT_ID</key>
	<string>nibm-connect-imesh</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-connect-imesh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608397502337:ios:4540943cb8576536</string>
	<key>DATABASE_URL</key>
	<string>https://nibm-connect-imesh.firebaseio.com</string>
</dict>
</plist>